@namespace HorsesForCourses.Blazor.Shared

<nav class="nav flex-column p-2 bg-light" style="width:200px; height:100vh;">
    <a class="nav-link" href="">Main</a>
    <a class="nav-link" href="courses">Courses</a>
    <a class="nav-link" href="coaches">Coaches</a>
</nav>

