@using HorsesForCourses.Blazor.Dtos

<tr @onclick="ToggleDetails" style="cursor: pointer;">
    <td>@(Coach?.Name ?? "N/A")</td>
    <td>@(Coach?.Email ?? "N/A")</td>
    <td>@(Coach?.NumberOfCoursesAssignedTo ?? 0)</td>
    <td>
        <div style="display: flex; gap: 0.5rem;"> @* Holds buttons in one row, independently from window size*@

            @* buttons *@
            <button class="btn btn-sm btn-info" @onclick:stopPropagation="true" @onclick="Edit">Edit</button>
            <button class="btn btn-sm btn-danger" @onclick:stopPropagation="true" @onclick="Delete">Delete</button>
        </div>
    </td>
</tr>
