@page "/courses"
@inject HorsesForCourses.Blazor.Services.CourseService CourseService

<h3>Список курсов</h3>

@if (courses == null)
{
    <p>Загрузка...</p>
}
else if (!courses.Any())
{
    <p>Курсы не найдены.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in courses)
            {
                <tr>
                    <td>@course.Id</td>
                    <td>@course.Title</td>
                    <td>@course.StartDate.ToShortDateString()</td>
                    <td>@course.EndDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<CourseDto>? courses;

    protected override async Task OnInitializedAsync()
    {
        courses = await CourseService.GetCoursesAsync();
    }
}
